<!-- Sidebar  -->
<nav class="navbar sticky-top navbar-expand-lg bg-body shadow-sm">
    <div class="container-fluid px-4">
        <a class="navbar-brand" href="#" routerLink="visiteur"><img src="assets/Fichier 1.png" alt="Logo sama-gokh" class="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <!-- <a class="nav-link" href="#" routerLink="/visiteur">Accueil</a> -->
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/projets">Projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" aria-current="page">A propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/mesprojets">Mes projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/annonces">Annonces</a>
                </li> -->
            
            </ul>
            <div class="auth">
                <a href="#" class="btn btn-connexion mx-2" style="background-color: #F09E4D; color: white;"  routerLink="/connexion">S'inscricre</a>
                <a href="#" class="btn btn-inscription mx-2" style="background-color: #007A64; color: white;" routerLink="/connexion">Se connecter</a>
                <!-- <img src="assets/img/citoyen/profil-citoyen.png" class="nav-item dropdown" alt=""> -->
            </div>
        </div>
    </div>
</nav>
<!-- Fin sidebar  -->

<!-- Banierre  -->
<div class="banierre">
    <div class="containerBanner">
    </div>
    <div class="containerText text-left px-5">
        <h1 class="fw-bold">SAMA GOKH</h1>
        <h5 class="mb-3">Ensemble, Construisons l'Avenir <br>de Notre Commune.</h5>
        <a href="#" class="btn btnAjotProjet px-4 py-1 rounded-0">Creer un projet</a>
    </div>
</div>
<!-- Fin banierre  -->
<div class="containerStatistique container">
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="statistique shadow-sm p-3 d-flex justify-content-between">
                <div class="chiffre">
                    <h1 class="fw-bold">124</h1>
                    <p class="fw-bold fs-4">Projets publiés</p>
                </div>
                <div class="icone">
                    <i class="bi bi-kanban-fill"></i> 
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="statistique shadow-sm p-3 d-flex justify-content-between">
                <div class="chiffre">
                    <h1 class="fw-bold">10200</h1>
                    <p class="fw-bold fs-4">Utilisateurs</p>
                </div>
                <div class="icone">
                    <i class="bi bi-people-fill"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="statistique shadow-sm p-3 d-flex justify-content-between">
                <div class="chiffre">
                    <h1 class="fw-bold">300</h1>
                    <p class="fw-bold fs-4">Communes</p>
                </div>
                <div class="icone">
                    <i class="fa-solid fa-building-user"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contenu apropos  -->

<div class="containerApropos">
    <!-- Section a propos de sama gokh  -->
    <div class="samaGokh">
        <h3 class="titre text-center fw-bold mb-4">A propos de <span class="titreSG">Sama Gokh</span></h3>
        <div class="presentation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <!-- <img src="assets/img/citoyen/presentation.png" alt=""> -->
                        <img src="assets/img/citoyen/presentationSG.png" alt="">
                    </div>
                    <div class="col-lg-8 px-5 text-justify">
                        <h4 class="text-center mt-5 mb-3 fw-bold">Présentation</h4>
                        <p class="fs-5">Sama Gokh est la plateforme qui donne la parole 
                            aux habitants pour façonner l'avenir de leur commune.
                            Sama Gokh est bien plus qu'une plateforme   en ligne. 
                            C'est un espace dédié à l'expression collective des habitants, une vitrine où     
                            chaque voix compte dans la construction de l'avenir de notre commune.
                        </p>
                      <p class="fs-5">Sama Gokh est une plateforme en ligne qui permet à une commune d'impliquer ses habitants dans sa gestion (prise de décision sur des projets à réaliser dans la ville). </p> 

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Objectifs et statistiques  -->
    <div class="container">
        <!-- Section objectifs  -->
        <div class="containerObjectif sectionApropos">
            <h3 class="titre text-center fw-bold mb-5">Les objectifs de <span class="titreSG">Sama Gokh</span></h3>
            <div class="row mt-5">
                <div class="col-md-4 mb-5">
                    <div class="cardObjectif shadow rounded-4 p-4 text-center">
                        <i class="bi bi-file-earmark-medical-fill p-3 fs-3 rounded-circle mb-3 iconeActive"></i>
                        <h5 class="active fw-bold mb-3">Participation active</h5>
                        <p>La transparence et la collaboration sont au cœur de notre démarche. 
                            Explorez les projets en cours, découvrez les initiatives réussies, 
                            et soyez informé des décisions prises pour le bien de tous.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 mb-5">
                    <div class="cardObjectif shadow rounded-4 p-4 text-center">
                        <i class="bi bi bi-transparency p-3 fs-3 rounded-circle mb-3 iconeTransparence"></i>
                        <h5 class="inactive fw-bold mb-3">Transparence et collaboration</h5>
                        <p>Nous croyons en la force de la participation active. 
                            Chaque résident a la possibilité de contribuer, 
                            de voter sur des projets importants, et de soumettre des idées novatrices 
                            pour améliorer notre communauté.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 mb-5">
                    <div class="cardObjectif shadow rounded-4 p-4 text-center">
                        <i class="bi bi-person-fill-add p-3 fs-3 rounded-circle mb-3 iconeActive"></i>
                        <h5 class="active fw-bold mb-3">Impact Collectif</h5>
                        <p>Chaque vote, chaque idée partagée contribue à un impact collectif. 
                            Ensemble, nous façonnons les rues que nous empruntons, les espaces que nous partageons, 
                            et l'avenir que nous construisons pour les générations à venir.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</div>

<!-- section incrivez vous  -->
<div class="incription text-center py-5">
    <h5 class="fw-bold mb-3">Prêt à faire entendre votre voix?</h5>
    <p class="mb-3 fs-5"> Inscrivez-vous dès maintenant sur Sama Gokh <br>Et devenez un acteur du changement dans votre commune.</p>
    <div>
        <a href="#" class="btn btnAjotProjet px-4 py-1 rounded-0">Je m'inscrit</a>
    </div>
</div>

<!-- Soumettre un projet  -->
<div class="soumettreProjet d-flex justify-content-end p-5 ">
    <div class="soumettre rounded-2 col-md-4 py-3">
        <!-- Formulaire de soumission d'un projet  -->
        <div class="">
            <form action="" class="px-4">
                <div class="mb-3">
                    <label for="titreProjet" class="form-label">Titre du projet</label>
                    <input type="text" name="titreProjet" class="form-control" id="titreProjet">
                </div>
                <div class="mb-3">
                    <label for="descriptionProjet" class="form-label">Description</label>
                    <input type="text" name="descriptionProjet" class="form-control" id="descriptionProjet">
                </div>
                <div class="mb-3">
                    <label for="coutProjet" class="form-label">Coût</label>
                    <input type="text" name="coutProjet" class="form-control" id="coutProjet">
                </div>
                <div class="mb-3">
                    <label for="delaiProjet" class="form-label">Délai</label>
                    <input type="text" name="delaiProjet" class="form-control" id="delaiProjet">
                </div>
                <div class="mb-3">
                    <label for="fileInput" class="form-label">Image
                        <i class="bi bi-image-fill d-block imageProjet mt-3"></i>
                    </label>
                    <input type="file" name="imageProjet" id="fileInput" style="display: none;" />
                </div>
                <div class="mb-3 text-end">
                    <button class="btn btnAnnuler fw-bold px-3 mx-2 mb-3">Annuler</button>
                    <button class="btn btnSoumettre fw-bold px-3 mx-2 mb-3">Soumettre</button>
                </div>
            </form>
        </div>
    </div>

</div>

<!-- Footer  -->
<div class="footer shadow-sm pt-5">
    <div class="logoReseaux container mb-5">
        <div class="row">
            <div class="col-lg-5 colLogo">
                <div class="logo text-right">
                    <a href="#" routerLink="/visiteur"><img src="/assets/Fichier 1.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="reseaux">
                    <h6 class="fw-bold mb-4 mt-3">Suivez nous sur nos réseaux sociaux</h6>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 mb-4 "><i class="bi bi-instagram iconeReseau"></i></div>
                        <div class="col-md-3 col-sm-6 mb-4 "><i class="bi bi-twitter iconeReseau"></i></div>
                        <div class="col-md-3 col-sm-6 mb-4 "><i class="bi bi-facebook iconeReseau"></i></div>
                        <div class="col-md-3 col-sm-6 mb-4 "><i class="bi bi-linkedin rounded-circle iconeReseau"></i></div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        
    </div>
    <div class="ling container mb-5">
        <div class="row container">
            <div class="col-md-4 text-center mb-3"><a href="#" routerLink="/visiteur">Accueil</a></div>
            <!-- <div class="col-md-2 text-center mb-3"><a href="#" routerLink="/projets">Projets</a></div>
            <div class="col-md-2 text-center mb-3"><a href="#" routerLink="/apropos">A propos</a></div> -->
            <div class="col-md-4 text-center mb-3"><a href="#" routerLink="/politique">Politique de confidentialité</a></div>
            <div class="col-md-4 text-center mb-3"><a href="#"routerLink="/condition">Condition d'utilisation</a></div>
        </div>
          
    </div>
    <div class="copyright text-center">
        <p class="my-1"><i class="bi bi-c-circle"></i> 2023 Sama Gokh. Tous droits réservés</p>
    </div>
</div>
<!-- Fin footer  -->

