<!-- Sidebar  -->
<nav class="navbar sticky-top navbar-expand-lg bg-body shadow-sm">
    <div class="container-fluid px-4">
        <a class="navbar-brand" href="#" routerLink="accueil"><img src="assets/Fichier 1.png" alt="Logo sama-gokh" class="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/accueil">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/projets">Projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" aria-current="page">A propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/mesprojets">Mes projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/annonces">Annonces</a>
                </li>
            
            </ul>
            <div class="profil">
                <img src="assets/img/citoyen/profil-citoyen.png" class="nav-item dropdown" alt="">
            </div>
        </div>
    </div>
</nav>
<!-- Fin sidebar  -->

<!-- Banierre  -->
<div class="banierre">
    <div class="containerBanner">
    </div>
    <div class="containerText text-left px-5">
        <h1 class="fw-bold">SAMA GOKH</h1>
        <h5 class="mb-3">Ensemble, Construisons l'Avenir <br>de Notre Commune.</h5>
        <a href="#" class="btn btnAjotProjet px-4 py-1 rounded-0">Creer un projet</a>
    </div>
</div>
<!-- Fin banierre  -->

<!-- Contenu apropos  -->

<div class="containerApropos">
    <!-- Section a propos de sama gokh  -->
    <div class="samaGokh">
        <h3 class="titre text-center fw-bold mb-4">A propos de Sama Gokh</h3>
        <div class="presentation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <!-- <img src="assets/img/citoyen/presentation.png" alt=""> -->
                        <img src="assets/img/citoyen/presentationSG.png" alt="">
                    </div>
                    <div class="col-lg-8 px-5 text-justify">
                        <h4 class="text-center mt-5 mb-3 fw-bold">Présentation</h4>
                        <p class="fs-5">Sama Gokh est la plateforme qui donne la parole 
                            aux habitants pour façonner l'avenir de leur commune.
                            Sama Gokh est bien plus qu'une plateforme   en ligne. 
                            C'est un espace dédié à l'expression collective des habitants, une vitrine où     
                            chaque voix compte dans la construction de l'avenir de notre commune.
                        </p>
                      <p class="fs-5">Sama Gokh est une plateforme en ligne qui permet à une commune d'impliquer ses habitants dans sa gestion (prise de décision sur des projets à réaliser dans la ville). </p> 

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Objectifs et statistiques  -->
    <div class="container">
        <!-- Section objectifs  -->
        <div class="containerObjectif sectionApropos">
            <h3 class="titre text-center fw-bold mb-5">Objectifs</h3>
            <div class="row mt-5">
                <div class="col-md-4 mb-5">
                    <div class="cardObjectif shadow rounded-4 p-4 text-center">
                        <i class="bi bi-file-earmark-medical-fill p-3 fs-3 rounded-circle mb-3 iconeActive"></i>
                        <h5 class="active fw-bold mb-3">Participation active</h5>
                        <p>La transparence et la collaboration sont au cœur de notre démarche. 
                            Explorez les projets en cours, découvrez les initiatives réussies, 
                            et soyez informé des décisions prises pour le bien de tous.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 mb-5">
                    <div class="cardObjectif shadow rounded-4 p-4 text-center">
                        <i class="bi bi bi-transparency p-3 fs-3 rounded-circle mb-3 iconeTransparence"></i>
                        <h5 class="inactive fw-bold mb-3">Transparence et collaboration</h5>
                        <p>Nous croyons en la force de la participation active. 
                            Chaque résident a la possibilité de contribuer, 
                            de voter sur des projets importants, et de soumettre des idées novatrices 
                            pour améliorer notre communauté.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 mb-5">
                    <div class="cardObjectif shadow rounded-4 p-4 text-center">
                        <i class="bi bi-person-fill-add p-3 fs-3 rounded-circle mb-3 iconeActive"></i>
                        <h5 class="active fw-bold mb-3">Impact Collectif</h5>
                        <p>Chaque vote, chaque idée partagée contribue à un impact collectif. 
                            Ensemble, nous façonnons les rues que nous empruntons, les espaces que nous partageons, 
                            et l'avenir que nous construisons pour les générations à venir.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="containerStatistique sectionApropos">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <div class="statistique shadow-sm p-3 d-flex justify-content-between">
                        <div class="chiffre">
                            <h1 class="fw-bold">124</h1>
                            <p class="fw-bold fs-4">Projets publiés</p>
                        </div>
                        <div class="icone">
                            <i class="bi bi-kanban-fill"></i> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="statistique shadow-sm p-3 d-flex justify-content-between">
                        <div class="chiffre">
                            <h1 class="fw-bold">10200</h1>
                            <p class="fw-bold fs-4">Utilisateurs</p>
                        </div>
                        <div class="icone">
                            <i class="bi bi-people-fill"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="statistique shadow-sm p-3 d-flex justify-content-between">
                        <div class="chiffre">
                            <h1 class="fw-bold">300</h1>
                            <p class="fw-bold fs-4">Communes</p>
                        </div>
                        <div class="icone">
                            <i class="fa-solid fa-building-user"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- statitstic  -->
<!-- premier icone  <i class="bi bi-kanban-fill"></i> -->


<!-- Footer  -->
<div class="footer shadow-sm pt-5">
    <div class="logoReseaux container mb-5">
        <div class="row">
            <div class="col-lg-5">
                <div class="logo text-center">
                    <a href="#" routerLink="/accueil"><img src="/assets/Fichier 1.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="reseaux">
                    <h6 class="fw-bold mb-3">Suivez nous sur nos réseaux sociaux</h6>
                    <p class="">
                        <span class="iconeReseau me-2"> <i class="bi bi-facebook"></i> </span>
                        <span class="iconeReseau mx-2"><i class="bi bi-instagram"></i></span> 
                        <span class="iconeReseau mx-2"> <i class="bi bi-twitter"></i> </span> 
                        <span class="iconeReseau mx-2"><i class="bi bi-linkedin rounded-circle"></i></span> 
                    </p>
                </div>
            </div>
        </div>
        
        
    </div>
    <div class="ling container d-flex justify-content-between my-5">
        <a href="#" routerLink="/accueil">Accueil</a>
        <a href="#" routerLink="/projets">Projets</a>
        <a href="#" routerLink="/apropos">A propos</a>
        <a href="#" routerLink="/mesprojets">Mes projets</a>
        <a href="#"routerLink="/annonces">Annonces</a>
    </div>
    <div class="copyright text-center">
        <p class="mt-2"><i class="bi bi-c-circle"></i> 2023 Sama Gokh. Tous droits réservés</p>
    </div>
</div>
<!-- Fin footer  -->
