<!-- Sidebar  -->
<nav class="navbar sticky-top navbar-expand-lg bg-body shadow-sm">
    <div class="container-fluid px-4">
        <a class="navbar-brand" href="#" routerLink="accueil"><img src="assets/Fichier 1.png" alt="Logo sama-gokh" class="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/projets">Projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/apropos">A propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/mesprojets">Mes projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/annonces">Annonces</a>
                </li>
            
            </ul>
            <div class="profil">
                <img src="assets/img/citoyen/profil-citoyen.png" class="nav-item dropdown" alt="" data-bs-toggle="modal" data-bs-target="#modalProfil">
            </div>
        </div>
    </div>
</nav>
<!-- Fin sidebar  -->

<!-- Banierre  -->
<div class="banierre">
    <div class="containerBanner">
    </div>
    <div class="containerText text-left px-5">
        <h1 class="fw-bold">SAMA GOKH</h1>
        <h5 class="mb-3">Ensemble, Construisons l'Avenir <br>de Notre Commune.</h5>
        <a href="#" class="btn btnAjotProjet px-4 py-1 rounded-0">Creer un projet</a>
    </div>
</div>
<!-- Fin banierre  -->

<!-- Contenu  -->
<div class="container-accueil">
    <div class="container">
        <!-- Section propos de sama gokh  -->
        <div class="aproposSamaGokh">
            <h3 class="titre text-center mb-4">A propos de Sama Gokh</h3>
            <div class="card mb-3 border-0">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <img src="https://img.freepik.com/free-photo/clueless-puzzled-smiling-woman-shrugging-shoulders_74855-5377.jpg?size=626&ext=jpg&ga=GA1.1.59389668.1692912989&semt=ais" class="img-fluid rounded-2" alt="...">
                  </div>
                  <div class="col-lg-6">
                    <div class="card-body p-4">
                      <h5 class="card-title fw-bold">C'est quoi Sama Gokh ?</h5>
                      <p class="card-text">Sama Gokh est une plateforme en ligne qui permet à une commune d'impliquer ses habitants dans sa gestion (prise de décision sur des projets à réaliser dans la ville). </p> 
                      <p class="card-text">Concrètement, l'idée est de mettre à la connaissance des populations l’ensemble des projets de la commune dans le but de recueillir leurs avis à travers des votes en ligne.</p>
                      <p class="card-text">Sama Gokh est la plateforme qui donne la parole aux habitants pour façonner l'avenir de leur commune. </p>
                      <p class="card-text">Sama Gokh est bien plus qu'une plateforme   en ligne. C'est un espace dédié à l'expression collective des habitants, une vitrine où chaque voix compte dans la construction de  l'avenir de notre commune.</p>
                    </div>
                  </div>
                </div>
            </div>
    
            <div class="card mb-3 border-0">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-4">
                      <h5 class="card-title fw-bold">Comment publier un projet ?</h5>
                      <p class="card-text">
                        Si vous souhaitez soumettre un projet d'utilité public à l'appréciation de toute la commune,
                        pas de panique, suivez juste les étapes enumérées ci-dessous et votre projet pourra être voté. 
                      </p>
                      <p class="card-text">Au niveau du formulaire d'ajout de projet, vous devez:</p>
                      <p class="card-text">1. Renseigner le nom de votre projet</p>
                      <p class="card-text">2. Donner une description de votre projet</p>
                      <p class="card-text">3. Donner une image pour illustrer votre projet</p>
                      <p class="card-text">4. Valider votre publication</p>
                      
                      <p class="card-text">Apres publication, le projet sera vu par tous les hanitants de la commune inscrits sur la plateforme et chacun pourra donner son avis.</p> 
                      <p>Si le projet est validé par la mairie, vous aurez des retours. Par contre, si 2 jours après cloture des votes vous n’avais pas de retour, sachez que le projet a été rejeté</p>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <img src="https://img.freepik.com/premium-photo/confused-afro-guy-has-too-many-questions_116547-37359.jpg?size=626&ext=jpg&ga=GA1.1.59389668.1692912989&semt=ais" class="img-fluid rounded-2" alt="...">
                  </div>
                </div>
            </div>
        </div>
    
        <!-- Section ma commune ma fierté  -->
        <div class="maCommune sectionAccueil">
            <h3 class="titre text-center mb-4">Ma commune, ma fiérté</h3>
            <div class="card mb-3 border-0">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <img src="assets/img/citoyen/mairie.png" class="img-fluid rounded-2" alt="...">
                  </div>
                  <div class="col-lg-6">
                    <div class="card-body p-4">
                        <div class="description py-5 px-4">
                          <h5 class="card-title fw-bold">Ville de Kaolack <span class="commune">commune de Kahone</span></h5>
                          <p class="card-text">La municipalité de Kahone est dirigée par Madame le Maire Fatou SENE DIOUF. </p>
                          <p class="card-text"> Elle compte 356 habitants </p> 
                          <p class="card-text"> Avec 200 comptes inscrits sur la plateforme Sama Gokh </p> 
                          <p class="card-text"> Tous engagés pour l'avancement de la commune</p> 
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    
        <!-- Section les projets à voter  -->
        <div class="projetsAVoter sectionAccueil">
            <h3 class="titre text-center mb-4">Projets en cours de vote</h3>
            <div class="row">
                <div class="col-lg-4" *ngFor="let projet of tabProjet.reverse()">
                    <img [src]="projet.image" alt="">
                    <div class="cardProjet mx-5">
                        <div class="cardProjetContainer">
                            <h6 class="titreProjet fw-bold text-center">{{projet.titre}}</h6>
                            <p>{{projet.description}}  <br>
                               <span class="auteurProjet">Par {{projet.createdBy}}</span>
                            </p>
                            <a href="#" class="voirPlus" (click)="detailsProjet(projet)" data-bs-toggle="modal" data-bs-target="#modalDetailProjet">Voir plus</a>
                            <div class="vote text-center mt-3">
                                <button   class="btnContre px-2 fw-bold py-1 mx-2 mb-2" [disabled]="projet.voted.isvoted ==true && projet.voted.votedBy == userConnect.username" (click)="voterContre(projet)">Je suis contre</button>
                                <button class="btnPour px-2 fw-bold py-1 mx-2" [disabled]="projet.voted.isvoted ==true && projet.voted.votedBy == userConnect.username" (click)="voterPour(projet)">Je suis pour</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="explorer text-center">
                <button class="btn plusProjet px-4 fw-bold fs-5" (click)="plusProjet()">Explorer plus de projet de projets</button>
                <!-- <button class="btn btnExplorer explorerProjet " (click)="plusProjet()">Explorer plus de projets</button> -->
            </div>
        </div>
    
        <!-- Section dernières annonces  -->
        <div class="dernieresAnnonces sectionAccueil">
            <h3 class="titre text-center mb-4">Dernières annonces</h3>
            <div class="row">
                <div class="col-lg-4" *ngFor="let annonce of tabAnnoncesPub">
                    
                    <img [src]="annonce.image" alt="">
                    <div class="cardAnnonce mx-2">
                        <div class="cardAnnonceContainer bg-body shadow px-5 py-2">
                            <h5 class="titreAnnonce text-center fw-bold mt-3">{{annonce.titre}}</h5>
                            <p>{{annonce.description}}</p>
                            <p class="commentaire fw-bold">5 commentaires</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-4">
                    <img src="https://img.freepik.com/premium-photo/young-female-her-little-son-planting-tree-one-city-parks-summer-day_274679-27189.jpg?size=626&ext=jpg&ga=GA1.1.59389668.1692912989&semt=ais" alt="">
                    <div class="cardAnnonce mx-2">
                        <div class="cardAnnonceContainer bg-body shadow px-5 py-2">
                            <h5 class="titreAnnonce text-center fw-bold mt-3">Journée reboisement</h5>
                            <p>Journée reboisement le Samedi 16 Decembre 2023 à 10h</p>
                            <p class="commentaire fw-bold">5 commentaires</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img src="https://img.freepik.com/premium-photo/closeup-black-woman-donating-blood-focus-hand-holding-red-ball-with-tubing-copy-space_236854-39697.jpg?size=626&ext=jpg&ga=GA1.1.59389668.1692912989&semt=ais" alt="">
                    <div class="cardAnnonce mx-2">
                        <div class="cardAnnonceContainer bg-body shadow px-5 py-2">
                            <h5 class="titreAnnonce text-center fw-bold mt-3">Journée don de sang</h5>
                            <p>Don de sang le Dimanche  24 Décembre 2023</p>
                            <p class="commentaire fw-bold">5 commentaires</p>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="explorer text-center">
                <a href="#" class="btn btnExplorer px-4 fw-bold fs-5" routerLink="/annonces">Explorer plus d'annonces</a>
            </div>
        </div>
    </div>

    <!-- Section statistiques  -->
    <div class="statistiques sectionAccueil border pt-5 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="projet px-4 py-3 mb-3">
                        <h1 class="fw-bold">255</h1>
                        <p>Projets municipaux</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="projet px-4 py-3 mb-3">
                        <h1 class="fw-bold">200</h1>
                        <p>Projets citoyens</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="projet px-4 py-3 mb-3">
                        <h1 class="fw-bold">400</h1>
                        <p>Projets validés</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- section soumettre projet  -->
    <div class="container">
        <div class="sectionAccueil soumettreProjet">
            <h3 class="titre text-center mb-4">Je soumets mon projet</h3>
            <div class="row formAjoutProjet">
                <div class="col-lg-5 soumettreProjetForm p-0">
                    <form action="" class="px-4 pt-5">
                        <div class="mb-3">
                            <label for="titreProjet" class="form-label">Titre du projet</label>
                            <input type="text" name="titreProjet" class="form-control" id="titreProjet" [(ngModel)]="titre">
                        </div>
                        <div class="mb-3">
                            <label for="descriptionProjet" class="form-label">Description</label>
                            <input type="text" name="descriptionProjet" class="form-control" id="descriptionProjet" [(ngModel)]="description">
                        </div>
                        <div class="mb-3">
                            <label for="coutProjet" class="form-label">Coût</label>
                            <input type="number" name="coutProjet" class="form-control" id="coutProjet" [(ngModel)]="cout">
                        </div>
                        <div class="mb-3">
                            <label for="delaiProjet" class="form-label">Délai</label>
                            <input type="date" name="delaiProjet" class="form-control" id="delaiProjet" [(ngModel)]="delai">
                        </div>
                        <div class="mb-3">
                            <label for="imageProjet" class="form-label">Url image</label>
                            <input type="text" name="imageProjet" class="form-control" id="imageProjet" [(ngModel)]="image">
                        </div>
                        
                        <div class="mb-3 text-end">
                            <button class="btn btnAnnuler fw-bold px-3 mx-2 mb-3" (click)="viderChamps()">Annuler</button>
                            <button class="btn btnSoumettre fw-bold px-3 mx-2 mb-3" (click)="soumettreProjet()">Soumettre</button>
                        </div>
                        
                    </form>

                    <!-- Test  -->
                    <!-- <img [src]="image" alt=""> -->
                </div>
                <div class="col-lg-7 border p-0">
                    <div class="imageForm">
    
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Fin Contenu  -->

<!-- Footer  -->
<app-footer></app-footer>
<!-- Fin footer  -->


<!-- Détail d'un projet  -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Jardin partagé</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="https://img.freepik.com/free-photo/group-happy-african-volunteers-planting-tree-park-africa-volunteering-charity-people-ecology-concept_627829-320.jpg?size=626&ext=jpg&ga=GA1.1.59389668.1692912989&semt=ais" alt="">
          <div class="text-end">
            <p>Créé le 10/12/2023</p>
          </div>
          <div class="descprojet">
            <p>Et si on se lançait dans un jardin partagé ? Cultivons ensemble de
                bons produits, bio et de saison et faisons découvrir à tous les
               joies du jardinage. 
            </p>
            <div class="textCenter">
                <p class="fw-bold"><span class="info">Coût: </span>1 600 000 FCFA</p>
                <p class="fw-bold"><span class="info">Délai: </span>2 ans</p>
                <p class="fw-bold"><span class="info">Statut: </span>En cours de vote</p>
                <p class="fw-bold"><span class="info">Créé par: </span>Cisse Khadijatou</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal profil  -->
<div class="modal fade" id="modalProfil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <div class="text-center">
                <img src="assets/img/citoyen/profil-citoyen.png" class="nav-item dropdown" alt="">
                <!-- <i class="bi bi-person-circle fs-5"></i> -->
            </div>
            <div class="infoProfil">
                <h1 class="fw-bold info text-center">{{userConnect.prenom}} {{userConnect.nom}}</h1>
                <p class="fw-bold"><span class="info">Username: </span> {{userConnect.username}}</p>
                <p class="fw-bold"><span class="info">Telephone: </span> {{userConnect.telephone}}</p>
                <p class="fw-bold"><span class="info">Email: </span> {{userConnect.email}}</p>
            </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btnSoumettre" data-bs-dismiss="modal" style="color: white;" (click)="deconnexion()">Se déconnecter</button>
          <button type="button" class="btn btnAnnuler" style="color: white;">Editer</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal détail projet  -->
<div class="modal fade" id="modalDetailProjet" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <div class="text-center">
                <h4 class="fw-bold info text-center">{{projet.titre}}</h4>
                <!-- <i class="bi bi-person-circle fs-5"></i> -->
            </div>
            <div class="infoProjet">
                <img [src]="projet.image" alt="">
                <p class="fw-bold"><span class="info">Description: </span> {{projet.description}}</p>
                <p class="fw-bold"><span class="info">Délai: </span> {{projet.delai}}</p>
                <p class="fw-bold"><span class="info">Cout: </span> {{projet.cout}}</p>
                <p class="fw-bold"><span class="info">Créé par: </span> {{projet.createdBy}}</p>
                <p class="fw-bold"><span class="info">Le: </span> {{projet.createdAt}}</p>
            </div>
            
        </div>
        
      </div>
    </div>
</div>


<!-- Utilisation d'une icône et d'un lien simulé -->
<script>
    // Ajoutez un gestionnaire d'événements au lien simulé pour déclencher le clic sur le champ d'entrée réel
    document.querySelector('label[for="fileInput"]').addEventListener('click', function() {
      document.getElementById('fileInput').click();
    });
</script>