<div class="condition container">
    <h3>Condition d'utilisation</h3>
    <p>Les présentes conditions générales (les « Conditions ») portent sur l’utilisation du site web (le « Site »), ainsi que sur les services de DocumentsLégaux.</p>
    <h6 class="fw-bold">1. Général</h6>
    <p>
        Dès lors que vous utilisez le contenu de DocumentsLégaux, vous acceptez la validité des présentes Conditions et êtes tenu de vous y conformer.

        Ces Conditions ont été modifiées pour la dernière fois le 12 octobre 2022

        Sequiter Inc. et ses fournisseurs sont propriétaires du nom commercial de DocumentsLégaux, de la marque, de la marque déposée ainsi que du Site. Ci-après, toute référence à DocumentsLégaux est une référence à Sequiter Inc.

        Les « Ressources » de DocumentsLégaux désignent l’ensemble des ressources juridiques, documents, logiciels, produits, hyperliens, emails, informations, ou toute autre ressource fournie ou précédemment fournie par DocumentsLégaux en totalité ou en partie. Les « Services » de DocumentsLégaux désignent tout service fourni par DocumentsLégaux.

        Si vous ne voulez pas être soumis à ces Conditions, vous n’êtes pas autorisé à accéder au Site ou aux Ressources de DocumentsLégaux.
    </p>
    <h6 class="fw-bol">Utilisation des Ressources et des Services de DocumentsLégaux</h6>
    <p>
        Vous acceptez de ne pas utiliser les Services et Ressources de DocumentsLégaux dans un but non conforme à la loi en vigueur dans votre ressort ou dans un but qui ne permettrait pas la pleine application des présentes Conditions, même s'il est par ailleurs autorisé par ces Conditions.

        Le « Document final » désigne le document juridique complet ou tout autre document créé en utilisant une Ressource de DocumentsLégaux.

        L’achat d’un abonnement vous autorise à :

        Utiliser les Documents finaux issus des Ressources pour lesquelles vous avez acheté l’abonnement pour la période spécifiée, selon les présentes Conditions.
        Faire une copie électronique de chaque Document final pour votre usage personnel.
        Faire les copies physiques nécessaires (par exemple, impressions ou photocopies) des Documents finaux pour vos dossiers personnels et, si nécessaire, pour compléter des transactions spécifiques auxquelles les Documents finaux sont destinés.
        DocumentsLégaux se réserve le droit d’annuler tout abonnement à n’importe quel moment. Dans ce cas, vous ne serez facturé que pour la période d’abonnement. DocumentsLégaux se réserve le droit de changer le prix des abonnements.
    </p>

    
</div>
