
<!--<mat-spinner *ngIf="loading"></mat-spinner>-->

<!--<form [formGroup]="signupForm" *ngIf="!loading">-->
<!--  &lt;!&ndash; Email &ndash;&gt;-->
<!--  <div class="form-group">-->
<!--    <label for="email">Email</label>-->
<!--    <input type="email" class="form-control" id="email" formControlName="email">-->
<!--  </div>-->

<!--  &lt;!&ndash; Password &ndash;&gt;-->
<!--  <div class="form-group">-->
<!--    <label for="password">Password</label>-->
<!--    <input type="password" class="form-control" id="password" formControlName="password">-->
<!--  </div>-->

<!--  &lt;!&ndash; Nom &ndash;&gt;-->
<!--  <div class="form-group">-->
<!--    <label for="nom">Nom</label>-->
<!--    <input type="text" class="form-control" id="nom" formControlName="nom">-->
<!--  </div>-->

<!--  &lt;!&ndash; Prénom &ndash;&gt;-->
<!--  <div class="form-group">-->
<!--    <label for="prenom">Prénom</label>-->
<!--    <input type="text" class="form-control" id="prenom" formControlName="prenom">-->
<!--  </div>-->

<!--  &lt;!&ndash; Cni &ndash;&gt;-->
<!--  <div class="form-group">-->
<!--    <label for="cni">CNI</label>-->
<!--    <input type="text" min="5" max="21" class="form-control" id="cni" formControlName="cni">-->
<!--  </div>-->

<!--  &lt;!&ndash; Téléphone &ndash;&gt;-->
<!--  <div class="form-group">-->
<!--    <label for="telephone">Téléphone</label>-->
<!--    <input type="text" class="form-control" id="telephone" formControlName="telephone">-->
<!--  </div>-->

<!--  &lt;!&ndash; Image &ndash;&gt;-->
<!--  <div class="form-group">-->
<!--    <input type="file" accept="image/*" #imageInput (change)="onFileAdded($event)" >-->
<!--    <button mat-raised-button color="primary" (click)="imageInput.click()">ADD IMAGE</button>-->
<!--    <img [src]="imagePreview" *ngIf="imagePreview" style="max-height: 100px;display:block;margin-top:10px">-->
<!--  </div> <br>-->

<!--  &lt;!&ndash; Soumission &ndash;&gt;-->
<!--  <button mat-raised-button color="primary" [disabled]="signupForm.invalid" (click)="onSignup()">SIGN UP</button>-->
<!--  <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>-->
<!--</form>-->
