<!-- <app-side-bar></app-side-bar> -->

<!-- <app-dashboard></app-dashboard> -->
<!-- <app-gestion-projet-municipal></app-gestion-projet-municipal> -->
<!-- <app-gestion-annonces></app-gestion-annonces> -->
<app-details-annonce></app-details-annonce>

<!-- <app-accueil></app-accueil> -->
<!-- <app-projets></app-projets> -->
<!-- <app-annonce></app-annonce> -->
<!-- <app-apropos></app-apropos> -->
<!-- <app-mes-projets></app-mes-projets> -->
<router-outlet></router-outlet>
<!-- <app-accueil>  </app-accueil> -->
