<div class="politique">
    <h3>Politique de confidentialité</h3>
    <p>
        Ce site internet est hébergé par Sequiter Inc.

        <br>Ces politiques de confidentialité sont applicables à tout contenu disponible sous le nom de domaine www.documentslegaux.fr, y compris tous les sous-domaines et toutes les sous-pages du domaine. Nos pages web vous proposent également des liens vers d'autres sites qui ne nous appartiennent pas. Lorsque vous accédez à de tels sites, vous acceptez les risques qu'ils peuvent comporter.

        <br>Siège social
        209, 9644
        54 Avenue Edmonton, AB
        T6E 5V1 Canada
        Contact
        Email : aide@documentslegaux.fr
        Fax : + 1 780 436 2999
        Représentée par
        Ken Sawyer, PDG

        <br>Immatriculation
        Sequiter Inc. est une société constituée et immatriculée en vertu des lois de l’Alberta, Canada.

        <br>Numéro d’immatriculation : 20314710

        <br>Informatique et libertés
        Droit d'accès, modification et suppression des données personnelles vous concernant :
        Par courrier : 209, 9644, 54 Avenue Edmonton, AB T6E 5V1 Canada
        Par email : agentprivee@documentslegaux.fr

        <br>Règlement en ligne de litiges
        La Commission européenne a créé une plate-forme Internet pour le règlement en ligne des litiges. Elle peut servir de point de contact pour la résolution extrajudiciaire des litiges pouvant découler des contrats de vente en ligne ou des contrats de service. Vous pouvez y accéder à l’adresse suivante : http://ec.europa.eu/consumers/odr. Toutefois, Sequiter Inc. ne participe pas aux procédures facultatives de résolution de litiges devant un conseil d’arbitrage de consommation en France. Nous ne sommes pas obligés de le faire et préférons répondre à toutes les requêtes en échangeant directement avec nos clients.
    </p>
</div>
